.body-wrapper{
    width: 80%;
    margin: 2px auto;
    min-height: 800px;
}

.no-style-link{
    text-decoration: none!important;
    color: black;
}   

.sidepane-div{
    padding: 5px;
    width: max-content;
    display: flex;
}

.sidepane-menuItem{
    width: max-content;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    border-radius: 8px;
    display: flex;
}

.sidepane-menuItem:hover{
    background-color: #dacbcb;
}

.menu-icon{
    padding: 2px 10px;
}

.satyam-content-wrapper{
    padding: 5px;
}

.satyam-content{
    margin-left: 20px;
    margin-top: 20px;
}

.satyam-description{
    padding-top: 5px;
    text-align: justify ;

    font-style: italic;
}

.satyam-projects-container{
    
    margin: auto    ;
    padding: 5px;
    /* border: 2px solid black;     */
    display: flex;
    flex-wrap: wrap ;
}

.repo-card{
    width: 300px;
    min-height: 30px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 8px;
}

@media screen and (max-width: 1200px){
    .repo-card{
        width: 200px;
    }
}

.repo-card-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-right: 20px;
    padding-left: 5px;
}

.repo-card-details{
    display: flex;
    justify-content: space-between;
}

.repo-description{
    margin-left: 10px;
}

.project-repo-link{
    margin-right: 20px;
    cursor: pointer;
}