.body-wrapper{
    width: 100%;
    margin: 2px auto;
    min-height: 400px;
}

.no-style-link{
    text-decoration: none!important;
    color: black;
}   

.sidepane-div{
    padding: 5px;
    width: max-content;
    display: flex;
}

.sidepane-menuItem{
    width: max-content;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    border-radius: 8px;
    display: flex;
}

.sidepane-menuItem:hover{
    background-color: #dacbcb;
}

.menu-icon{
    padding: 2px 10px;
}

.satyam-content-wrapper{
    padding: 2px;
}

.satyam-content{
    margin: 2px;
    padding-left: 10px;
    /* border-left: 1px solid #dacbcb; */
}

.satyam-description{
    padding-top: 20px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.satyam-description-headline{
    margin-bottom: 10px;
    font-style: italic;
}

.satyam-projects-container{
    padding: 5px;
    /* border: 2px solid black;     */
    display: flex;
    flex-wrap: wrap ;
}

.repo-card{
    min-height: 30px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 8px;
}

@media screen and (width<=600px){
    .repo-card{
        width: 100%;
    }

    .satyam-projects-container{
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 601px) and (max-width: 992px){
    .repo-card{
        width: 80%;
    }

    .satyam-projects-container{
        margin: auto;
        width: 60%;
    }
}

@media screen and (width> 992px){
    .repo-card{
        width: 250px;
    }

    .satyam-projects-container{
        width: 100%;
    }
}

.repo-card-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-left: 5px;
}

.repo-header-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.repo-card-details{
}

.repo-description{
    margin-left: 5px;
}

.project-repo-link{
    margin: 1px 5px;
    cursor: pointer;
}