.body-wrapper{
    width: 95%;
    margin: auto;
    min-height: 500px;
}

.no-style-link{
    text-decoration: none!important;
    color: black    ;
}   

.sidepane-div{
    padding: 5px;
    width: max-content;
    display: flex;
}

.sidepane-menuItem{
    width: max-content;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    border-radius: 8px;
}

.sidepane-menuItem:hover{
    color: white;
    background-color: black;
}

.satyam-content-wrapper{
    width: 80%;
    margin: auto;
    padding: 5px;
}

.satyam-content{
    margin-left: 20px;
    margin-top: 20px;
    font-style: italic;
}

.satyam-description{
    padding-top: 5px;
}

.satyam-projects-container{
    padding: 5px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap ;
}

.repo-card{
    width: 500px;
    min-height: 30px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 8px;
}

.repo-card-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-right: 20px;
    padding-left: 5px;
}