#left-body{
    width: 80%;
    margin: auto;
    padding: 20px;
    /* border: 1px solid black ; */
}

.profile-photo-wrapper{
    width: 90%;
    margin: auto;
    padding: 10px;
}

.profile-photo{
    width: 100%;
    border-radius: 16px;
}

@media screen and (width<=768px){
    .profile-photo-wrapper{
        width: 80%;
    }

    #left-body{
        padding: 5px;
    }

    #right-body{
        padding: 5px;
        margin: 2px;
    }
}

.profile{
    padding: 10px;
}

.profile-title{
    text-align: center;
}

.icons-parent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    padding: 20px;
}

.icons{
    cursor: pointer;
    margin: 2px 15px;
}

.contact-button-div{
    width: max-content;
    margin: auto;
}

#right-body{
    width: 100%;
    margin: 5px auto;
    padding: 5px;
    /* border: 1px solid black; */
}